@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body header, body .trigger {
  -webkit-box-shadow: 0px 10px 15px -5px rgba(204, 204, 204, 0.69);
  -moz-box-shadow: 0px 10px 15px -5px rgba(204, 204, 204, 0.69);
  box-shadow: 0px 10px 15px -5px rgba(204, 204, 204, 0.69);
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #E0F2F1;
}

body header {
  background-color: #80CBC4;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  color: #fff;
}

body .box {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

body .quote {
  font-style: italic;
  text-decoration: underline;
}

body .trigger {
  margin-right: 20px;
  border: none;
  border-radius: 3px;
  background-color: #80CBC4;
  color: #fff;
  height: 50px;
  width: 200px;
  font-size: 20px;
}

body .trigger:hover {
  background-color: rgba(128, 203, 195, 0.705);
  cursor: pointer;
  outline: 0;
}

body .tweet {
  text-decoration: none;
  color: #55ACEE;
  font-size: 20px;
}
